{# Displaying the student's data #}

{% extends 'trainings/base.html' %}
{% block zawartosc %}
    <h4> Student: {{ student.first_name }} {{ student.last_name }} </h4>
    <p> Email: {{ student.email }}</p>
    <p> Numer telefonu: {{ student.phone }}</p>
    <p> Waga: {{ student.weight }}</p>
    <p> Wzrost: {{ student.height }}</p>
    <p> Czy podpisane zgody:
                {% if student.consents  %}
                    tak
                {% else %}
                    nie
                {% endif %}
    <p> Dostępnych godzin : {{ student.available_hours }}</p>
    <p> Wykorzystanych godzin : {{ student.used_hours }}</p>
    {% if student.description %}
        <p>Opis:</p>
        <p>{{ student.description }}</p>
    {% endif %}
    <br>
    <a href="{% url 'student_update_view' student.id %}"> Modyfikuj</a>
    <a href="{%  url 'student_del_view' student.id %}"> Usuń</a>
    <br><br>

{#    <a href="/student/account/{{ student.id }}"> Dodaj konto użytkownika</a>#}
{% endblock %}