{% extends 'trainings/base.html' %}
{% block zawartosc %}
    <div class="container-fluid">
        <h4>Instruktorzy </h4>
        <ul class="list-group-numbered">
            {% for item in object_list %}
{#                <li><a href="/trainer/{{item.pk}}"> {{ item }}</a></li>#}
                <li><a href="{% url 'trainer_detail_view' item.pk %}"> {{ item }}</a></li>
            {% endfor %}
        </ul>
        <br>
    </div>
    <div class="container-fluid">
        <a href="{% url 'trainer_add_view' %}">Dodaj instruktora</a>
    </div>
{% endblock %}