{% extends 'base.html' %}
{% block zawartosc %}
    <h4>Rezerwacje szkoleń </h4>
    <ul>
        {% for item in object_list %}
            <li>
                <a href="/booking/{{item.pk}}"> {{ item }}</a>
                <a href="/booking/cancel/{{ item.pk }}"> Anulowanie</a>
                <a href="/training/add/{{ item.pk }}"> Realizacja</a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <a href="/bookings_cancelled/">Anulowane rezerwacje</a>
    <br><br>
    <a href="/booking/add/">Zarezerwuj szkolenie</a>

{% endblock %}