{% extends 'base.html' %}
{% block zawartosc %}
    <h4>Aktualne rezerwacje  </h4>
    <ul>
        {% for item in object_list %}
            <li>
                <a href="/booking/{{item.pk}}"> {{ item }}</a>
                <a href="/booking/cancel/{{ item.pk }}"> Anuluj rezerwacje</a>
                <a href="/training/add/{{ item.pk }}"> Zapisz przebieg szkolenie</a>
            </li>
        {% endfor %}
    </ul>
    <br><br>
    <a href="/bookings_canceled/">Anulowane rezerwacje</a>
    <a href="/bookings_canceled/">Zrealizowane szkolenia</a>
    <br>
    <a href="/booking/add/">Zarezerwuj szkolenie</a>

{% endblock %}