{% extends 'base.html' %}
{% block zawartosc %}
    <h4>Lista aktualnych rezerwacji  </h4>
    <ul>
        {% for item in object_list %}
            <li>
                <a href="/booking/{{item.pk}}"> {{ item }}</a>
                <a href="/booking/cancel/{{ item.pk }}"> Anuluj</a>
                <a href="/training/add/{{ item.pk }}"> Zapisz przebieg szkolenie</a>
            </li>
        {% endfor %}
    </ul>
    <br><br>
    <a href="/booking/add/">Zarezerwuj szkolenie</a>
    <a href="/bookings_canceled/">Rezerwacje anulowane</a>
{% endblock %}