{% extends 'base.html' %}
{% block zawartosc %}
    <h3> Student: {{ student.first_name }} {{ student.last_name }} </h3>
    <p> Email: {{ student.email }}</p>
    <p> Numer telefonu: {{ student.phone }}</p>
    <p> Waga: {{ student.weight }}</p>
    <p> Wzrost: {{ student.height }}</p>
    <p> Czy podpisane zgody:
                {% if student.consents  %}
                    tak
                {% else %}
                    nie
                {% endif %}
    <p> Dostępnych godzin : {{ student.available_hours }}</p>
    <p> Wykorzystanych godzin : {{ student.used_hours }}</p>
    {% if student.description %}
        <p>Opis:</p>
        <p>{{ student.description }}</p>
    {% endif %}
    <br><br>
    <a href="/student/update/{{ student.id }}"> Modyfikuj dane</a>
    <a href="/student/del/{{ student.id }}"> Usuń</a>
    <a href="/student/account/{{ student.id }}"> Dodaj konto</a>

{% endblock %}