{% extends 'base.html' %}
{% block zawartosc %}
    <h1>{{ title }}</h1>
    <h3>Instruktor: {{ trainer.user.first_name }} {{ trainer.user.last_name }} </h3>
    <h4>Dostępne terminy w {{ season }}:</h4>
    <ul>
        {% for item in items %}
            <li> {{ item.day }}, {{ item.start_time }} - {{ item.end_time }}
                {# dodac warunek, że mozna modyfikować tylko od dzisiaj i dalej #}
                <a href="/timetable/modify/{{ item.id }}"> Modyfikuj dane</a>
                {# dodac warunek, że mozna usuwać tylko od dzisiaj i dalej #}
                <a href="/timetable/del/{{ item.id }}"> Usuń</a>
            </li>
        {% endfor %}
        <br>
        <a href="/timetable/add/"> Dodaj</a>
    </ul>
{% endblock %}